<style type="text/css">
div.image {
	width:            100px;
	height:           100px;
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAABmJLR0QANwA3AKuKYlacAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3QcfBTAPkRzXAQAAABl0RVh0Q29tbWVudABDcmVhdGVkIHdpdGggR0lNUFeBDhcAAACwSURBVDjLY2CgEDAyMDAw/P///z9ZmhkZGVlgHAuLNSRpPnEihIGBgYGBBZcCMzNxBn5+NoaPH38xMDAwMJw69RKrOhZcmidNskUR8/HZwvDmzQ8MtUzYDDh16iVDZuYBOD8z8wBWzTgNYGBgYDh//g1WNtEGEAsGsQGOjtJwtqGhCGkGqKkJMLS3W8L506c7MIiIcBCfDm7d+sDg47MFRQxXNOJMibg0UD0zURoJDADRSzKO0aLJvgAAAABJRU5ErkJggg==');
}
</style>
