/* Font Styles */
BODY {
	font-family: sans-serif;
	font-size: 10pt;
}
H1,H2,H3,H4,H5,H6 {
	margin: 0px; 
	padding: 0px; 
	font-weight: normal;
}
H1 {
	font-size: 22pt;
}
H2 {
	font-size: 18pt;
}
H3 {
	font-size: 16pt;
}
.content {
	font-size: 12pt;
}

/* Positioning */
.top {
	position: fixed;
	left: 0px; right: 0px;   top: 0px;  height: 40px;
	z-index: 100; 	
}
.left {
	position: fixed;
	left: 0px; width: 280px; top: 40px; bottom: 0px;
	z-index: 99;
}
.center {
	padding-top: 70px; padding-left: 320px; max-width: 820px;
	z-index: 98;
}

/* search panel */
.search .workingSetSelection {
	left: 30px;
	top: 9px;
	width: 150px;
	position: absolute;
}
.search .icon.editSet {
	left: 192px;
	top: 6px;
	position: absolute;
}
.search .icon.addSet {
	left: 218px;
	top: 6px;
	position: absolute;
}
.search .icon.deleteSet {
	left: 244px;
	top: 6px;
	position: absolute;
}
.search .searchField {
	left: 320px;
	top: 9px;
	right: 40px;
	max-width: 760px;
	position: absolute;
}
.search .searchField INPUT {
	left: 0px;
	top: 0px;
	width: 100%;
	position: absolute;
}
.search .icon.search {
	top: -3px;
	right: -3px;
	position: absolute;
}

/* source filter */


/* icons */
.icon {
	cursor: pointer;
	border: none;
	position: relative;
	background-color: transparent;
}
/** icons 32 * 32 pixels **/
.icon32 {
	background-image: url("../images/icons32.png");
	background-repeat: no-repeat;
	width: 32px;
	height: 32px;
}
.icon32.editSet {
	background-position: 0px 0px;
}
.icon32.addSet {
	background-position: -32px 0px;
}
.icon32.deleteSet {
	background-position: -64px 0px;
}
.icon32.search {
	background-position: -96px 0px;
}
.icon32.delete {
	background-position: -128px 0px;
}
.icon32.refresh {
	background-position: -160px 0px;
}
.icon32.selectAll {
	background-position: -192px 0px;
}
.icon32.selectNone {
	background-position: -224px 0px;
}
.icon32.add {
	background-position: -256px 0px;
}
.icon32.navLeft {
	background-positi16on: -288px 0px;
}
.icon32.navRight {
	background-position: -320px 0px;
}

/** icons 24 * 24 pixels **/
.icon24 {
	background-image: url("../images/icons24.png");
	background-repeat: no-repeat;
	width: 24px;
	height: 24px;
}
.icon24.editSet {
	background-position: 0px 0px;
}
.icon24.addSet {
	background-position: -24px 0px;
}
.icon24.deleteSet {
	background-position: -48px 0px;
}
.icon24.search {
	background-position: -72px 0px;
}
.icon24.delete {
	background-position: -96px 0px;
}
.icon24.refresh {
	background-position: -120px 0px;
}
.icon24.selectAll {
	background-position: -144px 0px;
}
.icon24.selectNone {
	background-position: -168px 0px;
}
.icon24.add {
	background-position: -192px 0px;
}
.icon24.navLeft {
	background-positi16on: -216px 0px;
}
.icon24.navRight {
	background-position: -240px 0px;
}

/** icons 16 * 16 pixels **/
.icon16 {
	background-image: url("../images/icons16.png");
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
}
.icon16.editSet {
	background-position: 0px 0px;
}
.icon16.addSet {
	background-position: -16px 0px;
}
.icon16.deleteSet {
	background-position: -32px 0px;
}
.icon16.search {
	background-position: -48px 0px;
}
.icon16.delete {
	background-position: -64px 0px;
}
.icon16.refresh {
	background-position: -80px 0px;
}
.icon16.selectAll {
	background-position: -96px 0px;
}
.icon16.selectNone {
	background-position: -112px 0px;
}
.icon16.add {
	background-position: -128px 0px;
}
.icon16.navLeft {
	background-position: -144px 0px;
}
.icon16.navRight {
	background-position: -160px 0px;
}

/** background **/
.top.gradient {
	background: #f6f8f9; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y2ZjhmOSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2U1ZWJlZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUxJSIgc3RvcC1jb2xvcj0iI2Q3ZGVlMyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmNWY3ZjkiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #f6f8f9 0%, #e5ebee 50%, #d7dee3 51%, #f5f7f9 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f6f8f9), color-stop(50%,#e5ebee), color-stop(51%,#d7dee3), color-stop(100%,#f5f7f9)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f6f8f9 0%,#e5ebee 50%,#d7dee3 51%,#f5f7f9 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #f6f8f9 0%,#e5ebee 50%,#d7dee3 51%,#f5f7f9 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #f6f8f9 0%,#e5ebee 50%,#d7dee3 51%,#f5f7f9 100%); /* IE10+ */
	background: linear-gradient(top,  #f6f8f9 0%,#e5ebee 50%,#d7dee3 51%,#f5f7f9 100%); /* W3C */
	/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f8f9', endColorstr='#d5dbdd',GradientType=0 ); */
	
}
.left {
	background-color: #f5f7f9;
}