<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration>

<log4j:configuration debug="true">

	<appender name="FILE" class="org.apache.log4j.FileAppender">
		<file>/var/log/tomcat6/newsReader.log</file>
	</appender>

	<root>
		<appender-ref ref="FILE" />
	</root>

</log4j:configuration>