<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd">

	<!-- JCR -->

	<bean id="jcrRepositoryConfig" class="org.apache.jackrabbit.core.config.RepositoryConfig" factory-method="install">
		<constructor-arg>
			<bean class="java.io.File">
				<constructor-arg value="repository.xml" />
			</bean>
		</constructor-arg>
		<constructor-arg>
			<bean class="java.io.File">
				<constructor-arg value="repository" />
			</bean>
		</constructor-arg>
	</bean>

	<bean id="jcrRepository" class="org.apache.jackrabbit.core.RepositoryImpl" factory-method="create" destroy-method="shutdown">
		<constructor-arg ref="jcrRepositoryConfig" />
	</bean>

	<bean id="jcrPassword" class="java.lang.String">
		<constructor-arg value="password" />
	</bean>

	<bean id="jcrCredentials" class="javax.jcr.SimpleCredentials">
		<constructor-arg value="username" />
		<constructor-arg>
			<bean factory-bean="jcrPassword" factory-method="toCharArray" />
		</constructor-arg>
	</bean>

	<bean id="jcrSession" factory-bean="jcrRepository" factory-method="login" scope="request" destroy-method="logout">
		<constructor-arg ref="jcrCredentials" />
	</bean>

	<bean class="com.cee.news.store.jcr.JcrStoreInitializer" init-method="registerNodeTypes" scope="singleton">
		<property name="session">
			<bean factory-bean="jcrRepository" factory-method="login" destroy-method="logout">
				<constructor-arg ref="jcrCredentials" />
			</bean>
		</property>
	</bean>

	<!-- Backend Services -->

	<bean id="siteStore" class="com.cee.news.store.jcr.JcrSiteStore" scope="request">
		<property name="session" ref="jcrSession" />
		<aop:scoped-proxy />
	</bean>

	<bean id="articleStore" class="com.cee.news.store.jcr.JcrArticleStore" scope="request">
		<property name="session" ref="jcrSession" />
		<aop:scoped-proxy />
	</bean>

	<bean id="workingSetStore" class="com.cee.news.store.jcr.JcrWorkingSetStore" scope="request">
		<property name="session" ref="jcrSession" />
		<aop:scoped-proxy />
	</bean>

	<!-- Parser -->
	
	<bean id="webClient" class="com.cee.news.parser.net.DefaultWebClient" scope="prototype">
		<property name="httpClient">
			<bean id="httpClient" class="org.apache.http.impl.client.DefaultHttpClient" scope="prototype" />
		</property>
	</bean>
	
	<bean id="articleParser" class="com.cee.news.parser.impl.BoilerpipeArticleParser" scope="prototype">
		<property name="webClient" ref="webClient" />
	</bean>
	
	<bean id="feedParser" class="com.cee.news.parser.impl.RomeFeedParser" scope="prototype">
		<property name="webClient" ref="webClient" />
	</bean>

	<bean id="siteUpdater" class="com.cee.news.parser.SiteUpdater" scope="prototype">
		<property name="articleParser" ref="articleParser" />
		<property name="feedParser" ref="feedParser" />
		<property name="store" ref="articleStore" />
		<property name="onlyActiveFeeds" value="true" />
	</bean>

	<bean id="updateSiteCommand" class="com.cee.news.server.content.SiteUpdateCommandImpl" scope="prototype">
		<property name="siteUpdater" ref="siteUpdater" />
	</bean>
	
	<bean id="htmlReader" class="org.ccil.cowan.tagsoup.Parser" scope="prototype" />

	<bean id="feedChecker" class="com.cee.news.parser.impl.RomeFeedChecker">
		<property name="webClient" ref="webClient" />
	</bean>

	<bean id="siteParser" class="com.cee.news.parser.SiteParser">
		<property name="webClient" ref="webClient" />
    	<property name="reader" ref="htmlReader" />
		<property name="feedChecker" ref="feedChecker" />
	</bean>

	<!-- GWT Services -->

	<bean id="gwtNewsService" class="com.cee.news.server.content.NewsServiceImpl" lazy-init="true">
		<property name="siteStore" ref="siteStore" />
		<property name="articleStore" ref="articleStore" />
	</bean>

	<bean id="gwtSiteService" class="com.cee.news.server.content.SiteServiceImpl" lazy-init="true">
		<property name="siteStore" ref="siteStore" />
		<property name="workingSetStore" ref="workingSetStore" />
	</bean>

	<bean id="gwtWorkingSetService" class="com.cee.news.server.workingset.WorkingSetServiceImpl" lazy-init="true">
		<property name="workingSetStore" ref="workingSetStore" />
	</bean>

	<bean id="gwtSiteUpdateService" class="com.cee.news.server.content.SiteUpdateServiceImpl" lazy-init="true">
		<constructor-arg type="int" value="10" />
		<property name="siteStore" ref="siteStore" />
		<lookup-method name="createUpdateSiteCommand" bean="updateSiteCommand" />
		<lookup-method name="createSiteParser" bean="siteParser" />
	</bean>
</beans>