<?xml version="1.0" encoding="UTF-8"?>
<web-app>

	<!-- Spring context -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath://applicationContext.xml</param-value>
	</context-param>
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<servlet>
		<servlet-name>Jersey REST Service</servlet-name>
		<servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
		<!-- Register application -->
		<init-param>
            <param-name>javax.ws.rs.Application</param-name>
            <param-value>org.cee.rest.CeeResourceConfig</param-value>
        </init-param>
		<!-- load-on-startup>1</load-on-startup -->
	</servlet>
	<servlet-mapping>
		<servlet-name>Jersey REST Service</servlet-name>
		<url-pattern>/v1/*</url-pattern>
	</servlet-mapping>

</web-app>