@url SELECTED iconSelected;
@url UNSELECTED iconUnselected;
.cellListEvenItem, .cellListOddItem {
	background-image: UNSELECTED;
    background-repeat: no-repeat;
    height: 30px;
	line-height: 30px;
    vertical-align: baseline;
	color: gray;
    padding-left: 26px;
	cursor: pointer;
}
.cellListEvenItem:HOVER, .cellListOddItem:HOVER {
    background-color: #F6F8F9;
}
.cellListKeyboardSelectedItem {
}
.cellListSelectedItem {
	background-image: SELECTED;
	color: #000000;
}
.cellListWidget {
	position: absolute;
    bottom: 100px;
	left: 30px;
    right: 30px;
    top: 56px;
	overflow-x: hidden;
    overflow-y: auto;
	border-color: #C0C0C0;
    border-radius: 6px 6px 6px 6px;
    border-style: solid;
    border-width: 1px;
}