@url ICONS icons;

@def articleTeaserColumns 3;
@def articleTeaserHeight 120px;
@def articleTeaserTop 96px;
@def relatedArticleColumns 1;

/*** reset ***/
BODY {
	margin: 0px;
}

/*** Font Styles ***/
BODY {
	font-family: sans-serif;
	font-size: 10pt;
}

P {
	margin: 0px;
}

H1,H2,H3,H4,H5,H6 {
	margin: 0px;
	padding: 0px;
	font-weight: normal;
}

H1 {
	font-size: 22pt;
}

H2 {
	font-size: 18pt;
}

H3 {
	font-size: 16pt;
}

FIELDSET {
	border: none;
}

LABEL {
  	display: inline-block;
  	vertical-align: text-bottom;
  	width: 200px;
}

FIELDSET UL {
 	padding: 0px;
  	margin: 0;
}

FIELDSET LI {
 	list-style: none;
  	padding: 4px;
  	margin: 0;
}

.content {
	font-size: 12pt;
}

.content H1 {
	margin-top: 8px;
	margin-bottom: 4px;
}

.content P {
	margin-top: 8px;
	max-width: 640px;
}

/* teaser */
.teaser {
	overflow: hidden;
	padding: 8px
}

.teaser:HOVER {
	padding: 7px;
}

.teaser H1 {
	font-size: 14pt;
	margin-top: 8px;
	margin-bottom: 4px;
}

/*** columns ***/
.column1 {
	width: 100%;
	min-width: 250px;
	height: articleTeaserHeight;
	float: none;
}

.column2 {
	width: 49%;
	min-width: 250px;
	height: articleTeaserHeight;
	float: left;
}

.column3 {
	width: 30%;
	min-width: 250px;
	height: articleTeaserHeight;
	float: left;
}

/*** Positioning ***/

.container .center {
	position: absolute;
	top: articleTeaserTop;
	left: 320px;
	right: 40px;
}


.labelResult {
	position: absolute;
	top: 70px;
	left: 328px;
}

.buttonRefresh {
	position: absolute;
	top: 50px;
	right: 40px;
}

/* search panel */
.search {
	position: fixed;
	left: 0px;
	right: 0px;
	top: 0px;
	height: 40px;
}

.search .workingsetSelection {
	left: 30px;
	top: 9px;
	width: 150px;
	position: absolute;
}

.search .icon.editSet {
	left: 192px;
	top: 6px;
	position: absolute;
}

.search .icon.addSet {
	left: 218px;
	top: 6px;
	position: absolute;
}

.search .icon.deleteSet {
	left: 244px;
	top: 6px;
	position: absolute;
}

.search .searchField {
	left: 320px;
	top: 9px;
	right: 40px;
	position: absolute;
}

.search .searchField INPUT {
	left: 0px;
	top: 0px;
	width: 100%;
	position: absolute;
}

.search .icon.delete {
	top: -3px;
	right: 21px;
	position: absolute;
}

.search .icon.lense {
	top: -3px;
	right: -3px;
	position: absolute;
}

/* source filter */
.sources {
	position: fixed;
	left: 0px;
	width: 320px;
	top: 40px;
	bottom: 0px;
}

.sources .label {
	top: 30px;
	left: 38px;
	position: absolute;
}

.sources .icon.selectAll {
	left: 30px;
	bottom: 74px;
	position: absolute;
}

.sources .icon.selectNone {
	left: 56px;
	bottom: 74px;
	position: absolute;
}

.sources .icon.add {
	left: 82px;
	bottom: 74px;
	position: absolute;
}

/* pager */
.pager {
	position: fixed;
	left: 0px;
	right: 0px;
	top: 0px;
	height: 40px;
}

.pager .link.navLeft {
	left: 30px;
	top: 3px;
	width: 70px;
	position: absolute;
}

.pager .articleSelection {
	left: 320px;
	top: 9px;
	right: 92px;
	position: absolute;
}

.pager .articleSelection select {
	width: 100%;
}

.pager .navLeft {
	top: 6px;
	right: 66px;
	position: absolute;
}

.pager .navRight {
	top: 6px;
	right: 40px;
	position: absolute;
}

/* main content */
.content {
	padding: 8px;
}

.center.content {
	top: 70px;
}

/* what others say panel */

.related {
	position: absolute;
	left: 0px;
	width: 320px;
	top: 40px;
	bottom: 0px;
}

.related .label {
	top: 30px;
	left: 38px;
	position: absolute;
}

/*** Dialogs ***/
.popupPanel {
	background-color: #ffffff;
	border-radius: 8px;
	border-style: solid;
	border-width: 2px;
	border-color: #FFFFFF;
}

.workingSet {
	width: 600px;
	height: 500px;
}

.newSite {
	width: 500px;
	height: 400px;
}

.confirm {
	width: 300px;
	height: 200px;
}

.dialog H1 {
	font-size: 14px;
	margin-left: 8px;
	margin-top: 8px;
}

.dialog P {
	margin-bottom: 8px;
}

.dialog .header {
	position: absolute;
	height: 34px;
	top: 0px;
	left: 0px;
	right: 0px;	
	border-radius: 8px 8px 0px 0px;
}

.dialog .footer {
	position: absolute;
	text-align: right;
	height: 32px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	padding: 8px 8px 0px 0px;
	background-color: #E0E0FF;
	border-radius: 0px 0px 8px 8px;
}

.dialog .availableSites {
	position: absolute;
	top: 68px;
	bottom: 40px;
	left: 8px;
	right: 304px;
}

.dialog .addNewSite {
	position: absolute;
	bottom: 4px;
	right: 0px;
}

.dialog .label {
	position: absolute;
	top: 0px;
	height: 30px;
	left: 0px;
	right: 0px;
}

.dialog .list {
	position: absolute;
	top: 30px;
	bottom: 30px;
	left: 0px;
	right: 0px;
	overflow-x: hidden;
	overflow-y: scroll;
}

.dialog .selectedSites {
	position: absolute;
	top: 68px;
	bottom: 40px;
	left: 304px;
	right: 8px;
}

.dialog .removeAllSites {
	position: absolute;
	bottom: 4px;
	right: 0px;
}

.dialog .workingSetName {
	position: absolute;
	height: 26px;
	top: 38px;
	left: 8px;
	right: 8px;
}

.dialog .pageLocationInput {
	position: absolute;
	top: 38px;
	bottom: 34px;
	left: 8px;
	right: 8px;
}

.dialog .pageFeedSelection {
	position: absolute;
	top: 38px;
	bottom: 34px;
	left: 8px;
	right: 8px;
	overflow-y: scroll;
}

.dialog .confirmQuestion {
	position: absolute;
	top: 38px;
	bottom: 34px;
	left: 8px;
	right: 8px;
}

.dialog .save {
	position: relative;
	bottom: 0px;
}

.dialog .next {
	position: relative;
	bottom: 0px;
}

.dialog .cancel {
	position: relative;
	bottom: 0px;
}

.dialog .yes {
	position: relative;
	bottom: 0px;
}

.dialog .no {
	position: relative;
	bottom: 0px;
}

.error {
	color: #ff0000;
}

/*** UI elements ***/
.clickable, .checked, .unchecked {
	cursor: pointer;
}

.checked:HOVER, .unchecked:HOVER {
	background-color: #f6f8f9;
}

.clickable:HOVER {
	border-style: solid;
	border-width: 1px;
	border-color: #c0c0c0;
	-moz-border-radius: 6px;
	border-radius: 6px;
	
	background: #f6f8f9; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background:
		url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y2ZjhmOSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2U1ZWJlZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUxJSIgc3RvcC1jb2xvcj0iI2Q3ZGVlMyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmNWY3ZjkiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, #f6f8f9 0%, #e5ebee 50%, #d7dee3 51%, #f5f7f9
		100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f6f8f9),
		color-stop(50%, #e5ebee), color-stop(51%, #d7dee3),
		color-stop(100%, #f5f7f9) ); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #f6f8f9 0%, #e5ebee 50%, #d7dee3 51%,
		#f5f7f9 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #f6f8f9 0%, #e5ebee 50%, #d7dee3 51%, #f5f7f9
		100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #f6f8f9 0%, #e5ebee 50%, #d7dee3 51%, #f5f7f9
		100%); /* IE10+ */
	background: linear-gradient(top, #f6f8f9 0%, #e5ebee 50%, #d7dee3 51%, #f5f7f9 100%);
}

.checked {
	padding-left: 26px;
}

.unchecked {
	padding-left: 26px;
	color: gray;
}

.border {
	border-style: solid;
	border-width: 1px;
	border-color: #c0c0c0;
	-moz-border-radius: 6px;
	border-radius: 6px;
}

.listItem {
	line-height: 30px;
	vertical-align: baseline;
}

/* icons */

button.icon {
	width: 24px;
}

.icon {
	cursor: pointer;
	border: none;
	background-color: transparent;
	background-image: ICONS;
	background-repeat: no-repeat;
	height: 24px;
}

.icon:DISABLED {
	display: none;
}

.link {
	cursor: pointer;
	line-height: 30px;
    vertical-align: baseline;
    text-decoration: underline;
}

.icon.editSet {
	background-position: 0px -60px;
}

.icon.addSet {
	background-position: 0px -84px;
}

.icon.deleteSet {
	background-position: 0px -108px;
}

.icon.lense {
	background-position: 0px -132px;
}

.icon.delete {
	background-position: 0px -156px;
}

.icon.refresh {
	background-position: 0px -180px;
}

.icon.selectAll {
	background-position: 0px -204px;
}

.icon.selectNone {
	background-position: 0px -228px;
}

.icon.add {
	background-position: 0px -252px;
}

.icon.navLeft {
	background-position: 0px -276px;
}

.icon.navRight {
	background-position: 0px -300px;
}

/* icons 30 * 24 pixels */

.link {
	background-image: ICONS;
	background-repeat: no-repeat;
	padding-left: 26px;
	height: 30px;
}

.link.navLeft {
	background-position: 0px 0px;
}

.link.navRight {
	background-position: 0px -60px;
}

/** background **/
.horizontalGradient {
	background: #f6f8f9; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y2ZjhmOSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2U1ZWJlZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUxJSIgc3RvcC1jb2xvcj0iI2Q3ZGVlMyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmNWY3ZjkiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, #f6f8f9 0%, #e5ebee 50%, #d7dee3 51%, #f5f7f9 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f6f8f9), color-stop(50%, #e5ebee), color-stop(51%, #d7dee3), color-stop(100%, #f5f7f9) ); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #f6f8f9 0%, #e5ebee 50%, #d7dee3 51%, #f5f7f9 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #f6f8f9 0%, #e5ebee 50%, #d7dee3 51%, #f5f7f9 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #f6f8f9 0%, #e5ebee 50%, #d7dee3 51%, #f5f7f9 100%); /* IE10+ */
	background: linear-gradient(top, #f6f8f9 0%, #e5ebee 50%, #d7dee3 51%, #f5f7f9 100%);
}