<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop" xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd">

	<bean id="propertyPlaceholderConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="ignoreResourceNotFound" value="true" />
		<property name="locations">
			<list>
				<value>classpath:default.properties</value>
				<value>file:${configFile}</value>
			</list>
		</property>
	</bean>

	<!-- JCR -->

	<bean id="jcrRepositoryConfig" class="org.apache.jackrabbit.core.config.RepositoryConfig" factory-method="install">
		<constructor-arg>
			<bean class="java.io.File">
				<constructor-arg value="${jcr.repository.config.file}" />
			</bean>
		</constructor-arg>
		<constructor-arg>
			<bean class="java.io.File">
				<constructor-arg value="${jcr.repository.dir}" />
			</bean>
		</constructor-arg>
	</bean>

	<bean id="jcrRepository" class="org.apache.jackrabbit.core.RepositoryImpl" factory-method="create" destroy-method="shutdown">
		<constructor-arg ref="jcrRepositoryConfig" />
	</bean>

	<bean id="jcrPassword" class="java.lang.String">
		<constructor-arg value="${jcr.user.password}" />
	</bean>

	<bean id="jcrCredentials" class="javax.jcr.SimpleCredentials">
		<constructor-arg value="${jcr.user.name}" />
		<constructor-arg>
			<bean factory-bean="jcrPassword" factory-method="toCharArray" />
		</constructor-arg>
	</bean>
	
	<bean id="jcrSessionManager" class="com.cee.news.store.jcr.ThreadLocalSessionManager" destroy-method="closeSessions">
	   <property name="repository" ref="jcrRepository" />
	   <property name="credentials" ref="jcrCredentials" />
	</bean>

	<bean id="jcrSession" factory-bean="jcrRepository" factory-method="login" scope="prototype" destroy-method="logout">
		<constructor-arg ref="jcrCredentials" />
	</bean>
	
	<bean class="com.cee.news.store.jcr.JcrStoreInitializer" init-method="registerNodeTypes">
		<property name="session">
			<bean factory-bean="jcrRepository" factory-method="login">
				<constructor-arg ref="jcrCredentials" />
			</bean>
		</property>
	</bean>

	<!-- Backend Services -->
	
	<bean id="siteStore" class="com.cee.news.store.jcr.JcrSiteStore">
		<property name="sessionManager" ref="jcrSessionManager" />
	</bean>

	<bean id="articleStore" class="com.cee.news.store.jcr.JcrArticleStore">
		<property name="sessionManager" ref="jcrSessionManager" />
	</bean>
	
	<bean id="articleSearchService" class="com.cee.news.store.jcr.JcrArticleSearchService">
		<property name="sessionManager" ref="jcrSessionManager" />
	</bean>

	<bean id="workingSetStore" class="com.cee.news.store.jcr.JcrWorkingSetStore">
		<property name="sessionManager" ref="jcrSessionManager" />
	</bean>
		
	<!-- Parser -->
	
	<bean id="httpClientFactory" class="com.cee.news.parser.net.impl.DefaultHttpClientFactory" />
	
	<bean id="webClient" class="com.cee.news.parser.net.impl.DefaultWebClient" scope="prototype">
		<property name="httpClientFactory" ref="httpClientFactory" />
		<property name="readerFactory">
			<bean class="com.cee.news.parser.net.impl.XmlStreamReaderFactory" />
		</property>
	</bean>
	
	<bean id="htmlParser" class="org.ccil.cowan.tagsoup.Parser" scope="prototype"/>
	
	<bean id="articleParser" class="com.cee.news.parser.impl.BoilerpipeArticleParser" scope="prototype">
		<property name="webClient" ref="webClient" />
		<property name="reader" ref="htmlParser"/>
		<property name="filters">
			<list>
				<bean class="com.cee.news.parser.impl.MinWordCountArticleFilter">
					<property name="minWordCount" value="30" />
				</bean>
			</list>
		</property>
	</bean>
	
	<bean id="feedParser" class="com.cee.news.parser.impl.RomeFeedParser" scope="prototype">
		<property name="webClient" ref="webClient" />
	</bean>

	<bean id="siteUpdater" class="com.cee.news.parser.SiteUpdater" scope="prototype">
		<property name="articleParser" ref="articleParser" />
		<property name="feedParser" ref="feedParser" />
		<property name="store" ref="articleStore" />
		<property name="onlyActiveFeeds" value="true" />
	</bean>

	<bean id="siteUpdateCommand" class="com.cee.news.server.content.SiteUpdateCommand" scope="prototype">
		<property name="siteUpdater" ref="siteUpdater" />
	</bean>
	
	<bean id="htmlReader" class="org.ccil.cowan.tagsoup.Parser" scope="prototype" />

	<bean id="siteParser" class="com.cee.news.parser.SiteParser" scope="prototype">
		<property name="webClient" ref="webClient" />
    	<property name="reader" ref="htmlReader" />
		<property name="feedParser" ref="feedParser" />
	</bean>

	<!-- GWT Services -->
	
	<bean id="gwtLanguageService" class="com.cee.news.server.content.LanguageServiceImpl" scope="request" autowire="byType">
		<property name="searchService" ref="articleSearchService" />
	</bean>

	<bean id="gwtNewsService" class="com.cee.news.server.content.NewsServiceImpl">
		<property name="workingSetStore" ref="workingSetStore" />
		<property name="articleStore" ref="articleStore" />
		<property name="articleSearchService" ref="articleSearchService" />
	</bean>

	<bean id="gwtSiteService" class="com.cee.news.server.content.SiteServiceImpl">
		<property name="siteStore" ref="siteStore" />
		<property name="workingSetStore" ref="workingSetStore" />
	</bean>

	<bean id="gwtWorkingSetService" class="com.cee.news.server.workingset.WorkingSetServiceImpl">
		<property name="workingSetStore" ref="workingSetStore" />
		<property name="siteStore" ref="siteStore" />
	</bean>

	<bean id="gwtSiteUpdateService" class="com.cee.news.server.content.SiteUpdateServiceImpl" init-method="startUpdateScheduler" destroy-method="shutdown">
		<property name="corePoolSize" value="${update.service.core.pool.size}" />
		<property name="maxPoolSize" value="${update.service.max.pool.size}" />
		<property name="keepAliveTime" value="${update.service.keep.alive.time}" />		
		<property name="updateSchedulerInitialDelay" value="${update.service.scheduler.initial.delay}" />		
		<property name="updateSchedulerFixedDelay" value="${update.service.scheduler.fixed.delay}" />		
		<property name="siteStore" ref="siteStore" />
		<lookup-method name="createSiteUpdateCommand" bean="siteUpdateCommand" />
		<lookup-method name="createSiteParser" bean="siteParser" />
		<lookup-method name="createFeedParser" bean="feedParser" />
	</bean>
</beans>