<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop" xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd">

	<bean id="propertyPlaceholderConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="ignoreResourceNotFound" value="true" />
		<property name="locations">
			<list>
				<value>classpath*:default.properties</value>
				<value>file:${configFile}</value>
			</list>
		</property>
	</bean>
	
	<import resource="classpath*:services.xml" />
	
	<!-- GWT Services -->
	
	<bean id="gwtLanguageService" class="com.cee.news.server.content.LanguageServiceImpl" scope="request" autowire="byType">
		<property name="searchService" ref="articleSearchService" />
	</bean>

	<bean id="gwtNewsService" class="com.cee.news.server.content.NewsServiceImpl">
		<property name="workingSetStore" ref="workingSetStore" />
		<property name="articleStore" ref="articleStore" />
		<property name="articleSearchService" ref="articleSearchService" />
	</bean>

	<bean id="gwtSiteService" class="com.cee.news.server.content.SiteServiceImpl">
		<property name="siteStore" ref="siteStore" />
		<property name="workingSetStore" ref="workingSetStore" />
	</bean>

	<bean id="gwtWorkingSetService" class="com.cee.news.server.workingset.WorkingSetServiceImpl">
		<property name="workingSetStore" ref="workingSetStore" />
		<property name="siteStore" ref="siteStore" />
	</bean>

	<bean id="siteUpdateCommand" class="com.cee.news.server.content.SiteUpdateCommand" scope="prototype">
		<property name="siteUpdater" ref="siteUpdater" />
	</bean>
	
	<bean id="gwtSiteUpdateService" class="com.cee.news.server.content.SiteUpdateServiceImpl" init-method="startUpdateScheduler" destroy-method="shutdown">
		<property name="corePoolSize" value="${update.service.core.pool.size}" />
		<property name="maxPoolSize" value="${update.service.max.pool.size}" />
		<property name="keepAliveTime" value="${update.service.keep.alive.time}" />		
		<property name="updateSchedulerInitialDelay" value="${update.service.scheduler.initial.delay}" />		
		<property name="updateSchedulerFixedDelay" value="${update.service.scheduler.fixed.delay}" />		
		<property name="siteStore" ref="siteStore" />
		<lookup-method name="createSiteUpdateCommand" bean="siteUpdateCommand" />
		<lookup-method name="createSiteParser" bean="siteParser" />
		<lookup-method name="createFeedParser" bean="feedParser" />
	</bean>
</beans>