BODY {margin: 0px,0px,0px,0px}

.debug .panel {border-style: solid; border-width: 1px}
.head   {left: 0px; right: 0px; top: 0px;    height: 25px; position: absolute;}
.left   {left: 0px; right: 50%; top: 25px;   bottom: 25px; position: absolute;}
.right  {left: 50%; right: 0px; top: 25px;   bottom: 25px; position: absolute;}
.bottom {left: 0px; right: 0px; bottom: 0px; height: 25px; position: absolute;}